@media (prefers-color-scheme: dark) {
	body {
		background-color: #120f0a !important;
	}

	/* A less-intense version of red. */
	.header,
	.footer,
	table th,
	input.toggle-round-flat:checked + label,
	input.toggle-round-flat:checked + label:after {
		background-color: #bb2917 !important;
	}

	/* Various containers */
	.content, .contentwide {
		color: #fff;
	}
	.content, .contentwide, .container {
		background: #000;
	}

	/* Tables */
	table {
		background: #000 !important;
		border-color: #fff;
		color: #fff;
	}
	table tr:nth-child(odd) {
		background: #888;
		color: #fff;
	}
	table tr:nth-child(even) {
		background: #555;
		color: #fff;
	}
	table th, table td {
		color: #fff;
	}
	table td a {
		color: #fff !important;
	}
	td[style="background:#f33;"] {
		/* Black text on high-loss signals -- no CSS class to target */
		color: #000;
	}
	.nav td[style="background: #ffffff;"] {
		/* The tables in the left-hand column are explicitly turned white.
			Let's correct that. */
		background-color: #555 !important;
	}
	td[style*="color:#030;"] {
		/* Enabled modes and networks. */
		color: #cfc !important;
	}
	td[style*="background: #b55"] {
		/* Inactive services */
		background: #800 !important;
	}
	td[style*="background: #1b1"] {
		/* Inactive services */
		background: #0a0 !important;
	}

	/* Inputs and form fields */
	.current, li.option {
		color: #000;
	}
	input, select {
		background-color: #c8c8c8;
	}
	.nice-select, .nice-select-dropdown {
		background-color: #c8c8c8 !important;
	}

	/* Toggle switches */
	input.toggle-round-flat + label {
		/* Toggle switch border */
		background-color: #8a8a8a;
	}
	tr:nth-child(odd) input.toggle-round-flat + label {
		/* Make them stand out more on odd-colored rows. */
		background: #bbb;
	}
	input.toggle-round-flat + label:before {
		/* Toggle switch background */
		background-color: #343434;
	}
	input.toggle-round-flat + label:after {
		/* Inactive toggle switch color */
		background-color: #8a8a8a;
	}
}
